{% extends 'base/default.html' %}
{% load bootstrap5 %}
{% load custom_filters %}

{% block title %}{{ title }} list{% endblock title %}

{% block content %}
{% bootstrap_messages %}

{% if filter %}{% include 'base/filter.html' %}{% endif %}

<table class="table table-striped">
  <thead>
    <tr>
      <th><a href="?{% switch_order request 'pk' %}">ID</a></th>
      <th><a href="?{% switch_order request 'name' %}">Name</a></th>
      {% if title == 'Item' %}
      <th><a href="?{% switch_order request 'series' %}">Series</a></th>
      <th><a href="?{% switch_order request 'is_set' %}">Set</a></th>
      {% endif %}
    </tr>
  </thead>
{% for item in object_list %}
  <tr>
    <td>{{ item.pk }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.series }}</td>
    <td>{{ item.is_set }}</td>
    <td><a href="{% url edit_url pk=item.pk %}?{{ query_string }}"><i class="fa-regular fa-pen-to-square"></i></a></td>
    <td><a href="{% url delete_url pk=item.pk %}?{{ query_string }}"><i class="fa-regular fa-trash-can"></i></a></td>
  </tr>
{% endfor %}
</table>

<div>{% bootstrap_pagination page_obj %}</div>
<!--TODO improve styling-->
{% if form %}{% include 'base/create_form.html' %}{% endif %}
{% endblock content %}