{% extends 'base/default.html' %}
{% load bootstrap5 %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

<h1 class="text-center">{{ title }}</h1>

{% if form %}
  <form action="" method="post" class="" enctype="multipart/form-data">
    {{ form.media }}
    {% csrf_token %}
    <div class="">
      {% bootstrap_form form %}

      {% if formset %}
        {% bootstrap_form formset.management_form %}

        {% for form in formset.forms %}
        {% for field in form.hidden_fields %}
        {{ field }}
        {% endfor %}

        <div class="row align-items-center">
          {% for field in form.visible_fields %}
          <div class="col-auto m-0 p-0" style="min-width:50px;">
            {% if forloop.parentloop.counter == 1 %}
            <label class="form-label">
              {{ field.label }}
              {% if field.help_text %}
                <span data-bs-toggle="tooltip" title="{{ field.help_text }}">
                  <i class="bi bi-question-circle"></i>
                </span>
              {% endif %}
            </label>
            {% endif %}
            {% if 'DELETE' in field.name %}
            <div class="text-center">
              {% render_field field class="form-check-input m-2" title=field.label type="checkbox" %}
            </div>
            {% else %}
              {% render_field field class="form-control rounded-0" title=field.label %}
            {% endif %}
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      {% endif %}

      <div class="my-3">
        <button type="submit" class="btn btn-primary">{% trans "Save" context "button" %}</button>
        <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-outline-primary">{% trans "Cancel" %}</a>
        {% if request.resolver_match.url_name != 'order_create' %}
          <a href="{{ delete_view }}?{{ request.GET.urlencode }}" class="btn btn-outline-danger">{% trans "Delete" %}</a>
        {% endif %}
      </div>
    </div>
  </form>
{% endif %}
{% endblock content %}

{% block scripts %}
<script>
  $(function () {
  $('[data-bs-toggle="tooltip"]').tooltip()
})
</script>
{% endblock scripts %}