{% extends 'base/default.html' %}

{% block title %}Dashboard{% endblock title %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h1 class="text-center">Dashboard</h1>
<canvas id="distributor_sets_chart" width="800" height="400"></canvas>
<div class="row">
  <div class="col">
    <canvas id="shipments" width="400" height="250"></canvas>
  </div>
  <div class="col">
    <canvas id="returns" width="400" height="250"></canvas>
  </div>
</div>

<script>
const ctx = document.getElementById('distributor_sets_chart').getContext('2d');

const myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels : [{% for item in distributor_sets_chart %}"{{ item.distributor }}",{% endfor %}],
      datasets: [{
        label: "Sets by distributor",
        data : [{% for item in distributor_sets_chart %}{{ item.count }},{% endfor %}],
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1
      }]
  }
});

const ctx2 = document.getElementById('shipments').getContext('2d');

const myChart2 = new Chart(ctx2, {
  type: 'bar',
  data: {
    labels : [{% for item in shipments %}"{{ item.year|date:'Y' }}",{% endfor %}],
      datasets: [{
        label: "Shipments",
        data : [{% for item in shipments %}{{ item.date__count }},{% endfor %}],
        backgroundColor: 'rgba(29, 78, 137, 0.2)',
        borderColor: 'rgba(29, 78, 137, 1)',
        borderWidth: 1
      },
      {
        label: "Sets shipped",
        data : [{% for item in shipments %}{{ item.sets__count }},{% endfor %}],
        backgroundColor: 'rgba(0, 178, 202, 0.2)',
        borderColor: 'rgba(0, 178, 202, 1)',
        borderWidth: 1
      }]
  }
});

const ctx3 = document.getElementById('returns').getContext('2d');

const myChart3 = new Chart(ctx3, {
  type: 'bar',
  data: {
    labels : [{% for item in returns %}"{{ item.year|date:'Y' }}",{% endfor %}],
      datasets: [{
        label: "Returns",
        data : [{% for item in returns %}{{ item.date__count }},{% endfor %}],
        backgroundColor: 'rgba(58, 87, 67, 0.2)',
        borderColor: 'rgba(58, 87, 67, 1)',
        borderWidth: 1
      },
      {
        label: "Sets returned",
        data : [{% for item in returns %}{{ item.sets__count }},{% endfor %}],
        backgroundColor: 'rgba(173, 226, 93, 0.2)',
        borderColor: 'rgba(173, 226, 93, 1.0)',
        borderWidth: 1
      }]
  }
});
</script>

{% endblock content %}