{% extends 'base/default.html' %}
{% load bootstrap5 %}
{% load custom_filters %}

{% block title %}{{ title }} list{% endblock title %}

{% block content %}
{% bootstrap_messages %}

{% if filter %}{% include 'base/filter.html' %}{% endif %}

<table aria-labelledby="{{ title }} list" class="table table-striped">
  <thead>
    <tr>
      <th><a href="?{% switch_order request 'serial' %}">Serial</a></th>
      <th><a href="?{% switch_order request 'article' %}">Article</a></th>
      <th><a href="?{% switch_order request 'date' %}">Date</a></th>
      <th><a href="?{% switch_order request 'city' %}">City</a></th>
      <th><a href="?{% switch_order request 'distributor' %}">Distributor</a></th>
      <th><a href="?{% switch_order request 'recipient' %}">Recipient</a></th>
      <th><a href="?{% switch_order request 'document' %}">Document</a></th>
      <th>Comment</th>
    </tr>
  </thead>
{% for item in object_list %}
  <tr>
    <td>{{ item.serial }}</td>
    <td>{{ item.article }}</td>
    <td>{{ item.date }}</td>
    <td>{{ item.city }}</td>
    <td>{{ item.distributor }}</td>
    <td>{{ item.recipient }}</td>
    <td>{{ item.document }}</td>
    <td>{{ item.comment }}</td>
    <td><a href="{% url detail_url pk=item.pk %}?{{ query_string }}"><i class="fa-regular fa-file-lines"></i></a></td>
    <td><a href="{% url edit_url pk=item.pk %}?{{ query_string }}"><i class="fa-regular fa-pen-to-square"></i></a></td>
    <td><a href="{% url delete_url pk=item.pk %}?{{ query_string }}"><i class="fa-regular fa-trash-can"></i></a></td>
  </tr>
{% endfor %}
</table>

<div>{% bootstrap_pagination page_obj %}</div>
<!--TODO improve styling-->
{% if form %}{% include 'base/create_form.html' %}{% endif %}
{% endblock content %}