{% extends 'default.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}Edit{% endblock title %}

{% block content %}
{% bootstrap_messages %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

<div>
  <form action="" method="post">
    {{ form.media }}
    {% csrf_token %}
    {{ form.as_p }}
    {% bootstrap_button button_type="submit" content="OK" %}
    <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-default">Cancel</a>
  </form>
</div>

<div>
  <form  id="form_set" method="POST">
    {{ formset.management_form }}
    {{ formset.media }}
    {% csrf_token %}
    <table class="table">
      <thead>
        {% for field in formset.forms.0 %}
        {% if field.label and not field.is_hidden %}
        <th>
          {{ field.label }}
        </th>
        {% endif %}
        {% endfor %}
      </thead>
      {% for form in formset.forms %}
      <tr>
        {% for field in form %}
        <td>
          {{ field }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <button type="submit">Save</button>
  </form>
</div>

<script>
(function($) {
    $('#add-form').click(function() {
        var index = $('#id_inline_test_models-TOTAL_FORMS').val()
        var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
        newTable.find(':input').each(function() {
            for (attr of ['name', 'id'])
                $(this).attr(
                    attr,
                    $(this).attr(attr).replace('__prefix__', index)
                )
        })
        newTable.insertBefore($(this))
        $('#id_inline_test_models-TOTAL_FORMS').val(
            parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
        )
        newTable.slideDown()
    })
})($)
</script>

{% endblock content %}