{% extends 'base/default.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}Edit set{% endblock title %}

{% block content %}
{% bootstrap_messages %}

<div>
  <form  id="form_set" method="POST">
    {{ formset.management_form }}
    {{ formset.media }}
    {% csrf_token %}
    <div>
      {% bootstrap_form form %}
    </div>
    <table>
      <thead>
        {% for field in formset.forms.0 %}
        {% if field.label and not field.is_hidden %}
        <th>
          {{ field.label }}
        </th>
        {% endif %}
        {% endfor %}
      </thead>
      {% for form in formset.forms %}
      <tr>
        {% for field in form %}
        <td>
          {{ field }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    {% bootstrap_button button_type="submit" content="Save" %}
  </form>
</div>
{% endblock content %}