{% extends 'base/base.html' %}
{% block body %}
{% include 'base/navbar.html' %}
{% load bootstrap5 %}
<div class="container">
  {% bootstrap_messages %}
  <div class="row justify-content-center">
    <div class="col-auto">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</div>
<div class="container d-print-none">
  <footer class="py-3 my-4">
    <p class="text-center text-muted">&copy; 2023 <a href="https://github.com/Nyaaa/passport">Nyaaa</a></p>
  </footer>
</div>
{% endblock body %}