{% load bootstrap5 %}
<form class="" action="" method="get" >
  <div class="input-group">
    <span class="input-group-text" id="basic-addon1">Items: {{ object_list|length }}</span>
    {% bootstrap_form filter.form layout='inline' %}
    {% bootstrap_button content='Filter' %}
    {% if filter.is_bound %}
      <a href="{% url request.resolver_match.view_name %}" class="btn btn-outline-primary">Clear filters</a>
    {% endif %}
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Export</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">XLS</a></li>
        <li><a class="dropdown-item" href="#">XLSX</a></li>
      </ul>
    </div>
</form>